* {
    font-family: century-gothic;
}

body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    background-image: linear-gradient(to bottom, #051937, #36214f, #6a1f57, #9a1c4d, #bb3232);
    overflow-x: hidden;
    width: 100%
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

input {
    height: 25px;
    width: 100%;
    background: transparent;
    border: transparent;
    margin-left: -10px;
}

button, label {
    height: 60px;
    margin: 20px;
    border-radius: 50px;
    background: #bbbbbb20;
    font-size: 100%;
    color: #fff;
    text-transform: full-width uppercase;
    min-width: 200px;
    width: 27%;
}

button:hover {
    background: red;
}

#Control {
    margin: 0 -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Select {
    /*    margin: 19px 10vw;
*/
    display: flex;
}

#uploadInput {
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #bbbbbb20;
    color: transparent;
}

#canvas2 {
    height: 100%;
    margin: 10px;
    border: 1px #0005 dashed;
}

#eraseLogo, #drawLogo {
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 100%;
    color: white;
    display: inline-block;
    cursor: pointer;
    /* "hand" cursor */
}

.inputfile:focus+label, .inputfile+label:hover {
    background-color: red;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

.inputfile+label {
    vertical-align: middle;
    text-align: center;
}

#HueSlider {
    outline: 0;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsl(30, 100%, 50%) 8.3%, hsl(60, 100%, 50%) 16.6%, hsl(90, 100%, 50%) 25%, hsl(120, 100%, 50%) 33.3%, hsl(150, 100%, 50%) 41.6%, hsl(180, 100%, 50%) 50%, hsl(210, 100%, 50%) 58.3%, hsl(240, 100%, 50%) 66.6%, hsl(270, 100%, 50%) 75%, hsl(300, 100%, 50%) 83.3%, hsl(330, 100%, 50%) 91.6%, hsl(360, 100%, 50%) 100%);
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.functions {
    width: 75%;
    min-width: 300px;
}

ul input[type="time"] {
    color: white;
    width: 20%;
    font-size: 1em;
}